body {
    font-family: Arial;
    margin: 0 auto;
}

header {
    background-color: #D2E0FB;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .book-logo {
    margin-left: 0;
    width: 100px;
    height: auto;
}

header .header-buttons {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

header .hf {
    margin-left: 15px;
}

header .hi {
    background-color: #F9F3CC;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.5s;
    padding: 8px 30px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

header .hi:hover {
    background-color: #D7E5CA;
}

header .header-button {
    font-size: 24px;
    color: #000;
    margin-right: 15px;
    text-decoration: none;
}

header .header-button:hover {
    color: #8EACCD;
}

table {
    border-collapse: collapse;
}

tr {
    background-color: #F9F3CC;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8EACCD;
    color: white;
}

table .btn {
    background-color: #8EACCD;
    border: none;
    text-align: center;
    transition-duration: 0.5s;
    padding: 8px 30px;
    cursor: pointer;
    color: #fff;
    margin-top: 5%;
}

table .btn:hover {
    background-color: #D7E5CA;
    color: #8EACCD;
}

.button {
    background-color: #8EACCD;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.5s;
    padding: 8px 30px;
    cursor: pointer;
    color: #fff;
    margin-top: 5%;
    font-weight: bold;
}

.button:hover {
    background-color: #D2E0FB;
    color: #000;
}

.cbtn {
    background-color: #F9F3CC;
    border: none;
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.5s;
    padding: 8px 30px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}

.cbtn:hover {
    background-color: #D7E5CA;
}

form {
    margin-top: 2%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #8EACCD;
}

textarea {
    outline: none;
    border: 2px solid #ccc;
}

textarea:focus {
    border: 2px solid #8EACCD;
}

.container {
    width: 55%;
    border-radius: 5px;
    background-color: #D7E5CA;
    padding: 20px;
    margin: 0 auto;
}
